<div style="width: 75%; max-height: 100%; margin: auto">
    <canvas id="myChart1"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const ctx = document.getElementById('myChart1');

    new Chart(ctx, {
        type: 'radar',
        data: {
            labels: {{{competencies}}},
            datasets: [{
                label: '{{#str}} chart_series_label_user, gradereport_gradebook_xp {{/str}}',
                data: {{data_user}},
                borderColor: '#0f6fc5',
                backgroundColor: '#0f6fc560',
                borderWidth: 1,
            },
                {
                    label: '{{#str}} chart_series_label_success, gradereport_gradebook_xp {{/str}}',
                    data: {{data_success}},
                    borderColor: '#e83e8c',
                    backgroundColor: '#e83e8c60',
                    borderWidth: 1,
                },
                {
                    label: '{{#str}} chart_series_label_average, gradereport_gradebook_xp {{/str}}',
                    data: {{data_average}},
                    borderColor: '#f0ad4e',
                    backgroundColor: '#f0ad4e60',
                    borderWidth: 1,
                }]
        },
        options: {
            scales: {
                r: {
                    min: 0,
                    max: 100,
                }
            },
            plugins: {
                title: {
                    display: true,
                    text: 'Kompetenzen'
                }
            }
        }
    });
</script>

<!--maybe need to put the script in here for consistency-->
<!--{{#js}}-->
<!--    require([-->
<!--    'https://cdn.jsdelivr.net/npm/chart.js',-->
<!--&lt;!&ndash;    'core/chart_output_chartjs',&ndash;&gt;-->
<!--    ], function($, Builder, Output, OutputTable) {-->

<!--Place your Script here!-->

<!--    });-->
<!--{{/js}}-->