<input type="button" class="btn btn-secondary" value="{{#str}} goback, gradereport_gradebook_xp_admin {{/str}}" onclick="location.href='{{gobackurl}}?id={{courseid}}'">
<hr>

<h1>{{#str}} listofcompetencies, gradereport_gradebook_xp_admin {{/str}}</h1>
{{#competencies}}
    <div class="card mt-2 mb-2">
        <div class="card-body">
            <h4 style="font-weight: bold;">{{name}}</h4>
            <table>
                <tr>
                    <td><strong>ID:</strong></td>
                    <td>{{id}}</td>
                    <td style="padding-left: 20px;"><strong>Parent ID:</strong></td>
                    <td>{{parentid}}</td>
                    <td style="padding-left: 20px;"><strong>Max Level:</strong></td>
                    <td>{{maxcomlvl}}</td>
                </tr>
                <tr>
                    <td><strong>Name:</strong></td>
                    <td>{{name}}</td>
                    <td style="padding-left: 20px;"><strong>Parent Name:</strong></td>
                    <td>{{parentname}}</td>
                    <td style="padding-left: 20px;"><strong>Description:</strong></td>
                    <td>{{description}}</td>
                </tr>
            </table>


            <input type="button" class="btn btn-primary" value="{{#str}} editcompetency, gradereport_gradebook_xp_admin {{/str}}" onclick="location.href='{{editurl}}?courseid={{courseid}}&id={{id}}&action=edit'">
            <input type="button" class="btn btn-danger local_message_delete_button" name="delete-competency" value="{{#str}} deletecompetency, gradereport_gradebook_xp_admin {{/str}}" onclick="if(confirm('Are you sure you want to delete this competency?')){location.href='{{editurl}}?courseid={{courseid}}&id={{id}}&action=delete'}">
        </div>
    </div>
{{/competencies}}

<hr>
<input type="button" class="btn btn-primary" value="{{#str}} addcompetency, gradereport_gradebook_xp_admin {{/str}}" onclick="location.href='{{editurl}}?courseid={{courseid}}'">
