<input type="button" class="btn btn-secondary" value="{{#str}} goback, gradereport_gradebook_xp {{/str}}" onclick="location.href='{{gobackurl}}?id={{courseid}}'">
<hr>

<h1>{{#str}} listofconnections, gradereport_gradebook_xp {{/str}}</h1>