<input type="button" class="btn btn-primary" value="{{#str}} managecompetencies, gradereport_gradebook_xp_admin {{/str}}" onclick="location.href='{{managecompetenciesurl}}?id={{courseid}}'">
<input type="button" class="btn btn-primary" value="{{#str}} export, gradereport_gradebook_xp_admin {{/str}}" onclick="location.href='{{exporturl}}?id={{courseid}}'">
<input type="button" class="btn btn-primary" value="{{#str}} import, gradereport_gradebook_xp_admin {{/str}}" onclick="location.href='{{importurl}}?id={{courseid}}'">
